*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
}
nav{
    display: flex;
    align-items: center;
    padding-right: 8%;
    padding-left: 8%;
}
nav .input{
    margin-left: 16rem;
    padding: 0.5rem 5rem;
}
nav button a{
    padding: 0.5rem;
    background-color: green;
    text-decoration: none;
    color: white;
}
nav button{
    padding: 0.6rem 1rem;
    background-color: green;
}
.logo{
    color: black;
    font-size: 50px;
    letter-spacing: 1px;
    cursor: pointer;
}
.nav2{
    border: 1px solid whitesmoke;
}
.nav2 ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}
.nav2 ul li a{
    text-decoration: none;
    color: black;
}
.Categories .yy{
    margin: 0.5rem 11.5rem;
    font-size: 25px;
}
.Categories .cat{
    border: 1px solid black;
    margin-left: 10.5rem;
    padding: 0.5rem 3rem;
    text-decoration: none;
}
.number{
    margin-left: 15rem;
    font-size: 20px;
}
.cart{
    float: right;
    margin-right: 4rem;
    border: 1px solid whitesmoke;
    font-size: 20px;
    padding: 2rem 2rem;
}
.cart a{
    text-decoration: none;
    color: black;
}
.Categories .logo2{
    float: right;
    width: 60%;
    height: 320px;
    margin-right: 2rem;
}
.Categories a:nth-child(5){
    background-color: #cdebbc; 
    border: 1px solid #cdebbc;
   }
   .Categories a:nth-child(8){
    background-color:  darkcyan;
    border:  darkcyan;
    padding: 0.5rem 3.4rem; 
   }
   .Categories a:nth-child(11){
    background-color:  indianred;
    border:  indianred; 
    padding: 0.5rem 3.3rem;
   }
   .Categories a:nth-child(14){
    background-color: rgb(60, 60, 148);
    border: rgb(60, 60, 148);
    padding: 0.5rem 3.1rem; 
    color: white;
   }
   .Categories a:nth-child(17){
    background-color: yellowgreen;
    border: yellowgreen;
    padding: 0.5rem 3.2rem; 
   }
   .Categories a:nth-child(20){
    background-color:crimson;
    border: crimson; 
    padding: 0.5rem 2.6rem;
   }

   /* End of this section */

   .pro{
    margin-left: 11rem;
    margin-top: 5rem;
    font-size: 3.5rem;
   }
   .line{
    margin-left: 11rem;
   }
   #feature-product{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 50px 0px;
    margin-right: 20rem;
  }
  #feature-product h2,
  #news h3{
    color: #2e2e2e;
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 10px;
  }
  #feature-product h2,
  #news h3::after{
    border-bottom: 1px solid #000000;
    width: 80%;
    height: 1px;
    background-color: #2e2e2e;
    position: absolute;
    content: '';
    left: 50%;
    transform: translateX(-50%);
    bottom: -5px;
  }
  .feature-product-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 60px auto;
    width: 1200px;
    padding: 20px 0px;
    background-color: whitesmoke;
  }
  .feature-product-box{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
  }
  .feature-product-img{
    width: 250px;
    height: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0,0,0,0.4);
  }
  .feature-product-img img{
    width: 90%;
    height: 90%;
    object-fit: contain;
    object-position: center;
  }
  .feature-product-text-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .product-feature-text{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }
  .product-feature-text strong{
    color: #272727;
    font-weight: 600;
    line-height: 20px;
  }
  .product-feature-text span{
    color: #747474;
  }
  .input3{
    width: 2.5rem;
  }
  .see{
    border: 1px solid black;
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 0.5rem 2rem;
    margin-top: 2rem;
  }

   /* End section */

   .talk{
    margin-left: 11rem;
    font-size: 3rem;
   }
  body{
    width: 100%;
    height: 100vh;
  }
  .right{
    padding: 1px 23rem;
  }
  h2{
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
  h2:after{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
  }
  .field{
    width: 100%;
    padding: 0.5rem 1rem;
    outline: none;
    border: 2px solid rgba(0,0,0,0);
    background-color:rgba(230, 230, 230, 0.6);
    font-size: 1.1rem;
    margin-bottom: 22px;
    transition: .3s;
  }
  .field:hover{
    background-color: rgba(0,0,0, 0.1);
  }
  .field:focus{
    background-color: #fff;
    border: 2px solid rgba(30, 85, 250,0.47);
  }
  .area{
    min-height: 150px;
  }
  .btn{
    width: 100%;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    background-color: #2ecc71;
    cursor: pointer;
    outline: none;
    border: none;
    transition: .3s;
    color: #fff;
  }
  .btn:hover{
    background-color: #27ae60;
  }
  /* End Seation */
  
  @media (max-width: 1500px){
    .logo{
      font-size: 2rem;
    }
    nav .input{
      width: 0;
      padding: 0rem 0rem;
      margin-left: 0;
    }
    nav button a{
      width: 0;
      padding: 0rem 0rem;
      color: white;
      background-color: #fff;
    }
    nav button{
      width: 0;
      padding: 0rem 0rem;
      color: white;
      background-color: #fff;
    }
    .nav2 ul li{
      border-color: white;
      padding: 0rem 0rem;
    }
    .nav2 ul li a{
      font-size: 0;
    }
    .cart{
      width: 0;
      font-size: 0;
      border-color: white;
    }
    .Categories .yy{
      margin-left: 8rem;
    }
    .Categories .logo2{
      width: 20rem;
      height: 200px;
    }
    .Categories .cat{
      margin: 6rem;
      padding: 0.5rem 2rem;
    }
    .pro{
      font-size: 2rem;
      margin-left: 7rem;
    }
    .line{
      width: 12.5rem;
      margin-left: 5rem;
    }
    .feature-product-container{
      width: 0;
    }
    .talk{
      color: white;
    }
    .yyy{
      width: 0;
      padding: 0rem;
    }
    .rrr{
      width: 0;
      padding: 0rem;
    }
    .right{
      width: 0;
      padding: 0rem;
    }
    .field{
      width: 0;
      padding: 0rem;
    }
    .area{
      padding: 0rem;
    }
    .btn{
      width: 0;
      padding: 0rem;
    }
    .Categories a:nth-child(5){
      background-color: #cdebbc; 
      border: 1px solid #cdebbc;
     }
     .Categories a:nth-child(8){
      background-color:  darkcyan;
      border:  darkcyan;
      padding: 0.5rem 2.5rem; 
     }
     .Categories a:nth-child(11){
      background-color:  indianred;
      border:  indianred; 
      padding: 0.5rem 2.5rem;
     }
     .Categories a:nth-child(14){
      background-color: rgb(60, 60, 148);
      border: rgb(60, 60, 148);
      padding: 0.5rem 1rem; 
      color: white;
     }
     .Categories a:nth-child(17){
      background-color: yellowgreen;
      border: yellowgreen;
      padding: 0.5rem 2.5rem; 
     }
     .Categories a:nth-child(20){
      background-color:crimson;
      border: crimson; 
      padding: 0.5rem 1.5rem;
     }
  }
  footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  footer .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
  }
  footer .logo{
    margin-bottom: 30px;
  }
  footer h4{
    font-size: 14px;
    padding-bottom: 20px;
  }
  footer p{
    font-size: 13px;
    padding: 0 0 8px 0;
  }
  footer a{
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
  }
  .section-p1{
    padding: 40px 60px;
  }
  .section-m1 {
  margin: 60px 0;
  }
  .copy{
    text-align: center;
  }